@import 'vuetify/styles';
@import '@mdi/font/css/materialdesignicons.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
}

.v-application {
  height: 100% !important;
}

.v-main {
  height: 100%;
  overflow-y: auto;
}