@import 'vuetify/styles';
@import '@mdi/font/css/materialdesignicons.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#app {
  min-height: 100vh;
}

.v-application {
  min-height: 100vh;
}

.home-page,
.login-page {
  min-height: calc(100vh - 48px);
}